<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php">
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="FACEBOOK_CLIENT_ID" value="" />
        <env name="FACEBOOK_CLIENT_SECRET" value="" />
    </php>
    <testsuites>
        <testsuite name="API Helper Test Suite">
            <directory>./tests</directory>
            <directory>./tests/Client</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
